body {
    width:100vw;
    height: auto;
    padding-top: 50px;
    margin: auto;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;

}
h2{
    color:rgb(204, 129, 17);
    text-align: center;
    font-size: 2.5vw;
}
input, button {
    margin: 10px 0;
}
.media{
    width:40vw;
    height: auto;
    border: 1px solid orange;
    margin: 3px;
    padding:5px;
}
.header-title{
    color:orange;
}
.titles{
    color:orange;
    font-size: 2vw;
}